/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(20, 39, 48);
  }
  
 
  /* Header styles */
  header {
    background-color: rgb(77, 2, 65);
    border-top: 15px solid rgb(85, 164, 188);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
   /* logo styles */
  .logo {
    margin: 5px;
    padding: 5px;
    padding-bottom: 0;
  }
  
  .logo img {
    width: 40px;
    height: 60px; /* logo size */
  }
  
  /* Navigation styles */
  .nav {
    text-align: center;
    flex-grow: 1; /* Allow the navigation to take up available space */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align the list items within the nav */
  }
  
  nav li {
    display: inline-block;
    padding: 0 20px;
  }
  
  nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    color:rgb(85, 164, 188);
  }
  
   /* Home section styles */
  #home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3, h4, p{
    color:white;
  }
  
  